/* body{
    height: 100vh;
    background-color: aqua;
} */

#smallLogo{
    height: 40px;
    width: 40px;
}

#dashboardHeader{
    height: 80px !important;
}

#Side{
    height: calc(100vh - 80px);
    background-color: #12283f;
    background-image: url(/assets/img/sidebar-bg.png);
}

.badge{
    font-size: 12px !important;
    background-color: #165bba;
}

th svg{
    padding: 5px;
    fill: white;
    background-color: #f26551;
    border-radius: 50%;
}


#overflowBox{
    height: calc(100vh - 80px);
    overflow: auto;
}

#offcanvasRight{
    min-width: 425px;
}
.icone-side .bi,
.settings .bi{
    padding: 5px;
    cursor: pointer;
}
.settings .bi:hover,
.icone-side .bi:hover{
    background-color: rgba(255, 255, 255, 0.493);
}

.newStudent button:hover{
    background-color: white;
    color: #165bba;
}